.nav-bar-container {
  display: flex;
  justify-content: center;
}

.nav-bar-subcontainer {
  display: flex;
  width: 70%;
  height: 100px;
  padding: 8px 8px 8px 8px;
  justify-content: space-evenly;
  background: linear-gradient(90deg, rgba(163,123,176,1) 0%, rgba(162,128,178,1) 50%, rgba(159,131,180,255) 100%);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.nav-bar-logo-container {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-bar-logo-container img{
  width: 80px;
  height: 80px;
}

.nav-bar-label-container {
  display: flex;
  align-items: center;
  width: 75%;
}

.nav-bar-label-ul-container{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 0px 45px;
}

.nav-bar-label-ul-container li{
  display: inline;
  margin-right: 15px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  text-shadow: 1px 1px #000000;
}

.nav-bar-icons-container {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-bar-member-icon {
  width: 140px;
  height: 60px;
  margin-top: 15px;
}

.nav-bar-cart-icon {
  width: 65px;
  height: 60px;
}

.nav-bar-member-icon:hover, 
.nav-bar-cart-icon:hover {
  cursor: pointer;
}

.nav-bar-icons-container div {
  margin-right: 10px;
}

@media screen and (max-width: 2560px) {
  .nav-bar-subcontainer {
    height: 100px;
  }
  .nav-bar-logo-container img{
    width: 90px;
    height: 90px;
  }
  .nav-bar-member-icon {
    width: 105px;
    height: 45px;
    margin-top: 15px;
  }
  .nav-bar-cart-icon {
    width: 60px;
    height: 55px;
  }
}

@media screen and (max-width: 1440px) {
  .nav-bar-subcontainer {
    height: 90px;
  }
  .nav-bar-logo-container img{
    width: 80px;
    height: 80px;
  }
  .nav-bar-member-icon {
    width: 126px;
    height: 48px;
    margin-top: 15px;
  }
  .nav-bar-cart-icon {
    width: 55px;
    height: 50px;
  }
}

@media screen and (max-width: 1024px) {
  .nav-bar-subcontainer {
    height: 80px;
  }
  .nav-bar-logo-container img{
    width: 70px;
    height: 70px;
  }
  .nav-bar-member-icon {
    width: 112px;
    height: 45px;
    margin-top: 12px;
  }
  .nav-bar-label-ul-container li{
    font-size: 16px;
  }
  .nav-bar-label-container {
    width: 65%;
  }
  .nav-bar-icons-container {
    width: 25%;
  }
  .nav-bar-icons-container div {
    margin-right: 5px;
  }
  .nav-bar-cart-icon {
    width: 50px;
    height: 45px;
  }
  .nav-bar-label-ul-container{
    justify-content: center;
    padding: 0px 15px;
  }
}

@media screen and (max-width: 768px) {
  .nav-bar-subcontainer {
    height: 70px;
    width: 85%;
  }
  .nav-bar-logo-container img{
    width: 60px;
    height: 60px;
  }
  .nav-bar-member-icon {
    width: 98px;
    height: 39px;
    margin-top: 9px;
  }
  .nav-bar-cart-icon {
    width: 45px;
    height: 40px;
  }
  .nav-bar-label-ul-container li{
    font-size: 12px;
  }
}

@media screen and (max-width: 426px) {
  .nav-bar-label-container {
    visibility: hidden;
  }
  .nav-bar-label-container {
    position: absolute;
    z-index: -999;
  }
  .nav-bar-label-ul-container{
    display: block;
    padding: 0px;
  }
  .nav-bar-container {
    height: 60px;
  }
  .nav-bar-logo-container {
    width: 20%;
    display: flex;
    align-items: center;
  }
  .nav-bar-icons-container {
    padding-right: 5px;
  }
  .nav-bar-icons-container div {
    margin-right: 10px;
  }
  .nav-bar-subcontainer {
    height: 60px;
  }
  .nav-bar-logo-container img{
    width: 50px;
    height: 50px;
  }
  .nav-bar-member-icon {
    width: 84px;
    height: 36px;
    margin-top: 6px;
  }
  .nav-bar-cart-icon {
    width: 40px;
    height: 35px;
  }
}

@media screen and (max-width: 320px) {
  .nav-bar-subcontainer {
    height: 50px;
  }
  .nav-bar-logo-container img{
    width: 40px;
    height: 40px;
  }
  .nav-bar-member-icon {
    width: 70px;
    height: 30px;
    margin-top: 3px;
  }
  .nav-bar-cart-icon {
    width: 33px;
    height: 30px;
  }
}
