a {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color: #004775;
}

.button-primary {
  background-color: #004775;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 11px;
  color: white;
  width: 177px;
  height: 46px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 25px;
}

.button-primary a {
  color: white;
}

.button-secundary {
  border: 2px solid #0098AD;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #004775;
  border-radius: 11px;
  width: 177px;
  height: 46px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 25px;
}

.button-link {
  color: #004775;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
}

.button-secundary-with-icon{
  border: 2px solid #0098AD;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #004775;
  border-radius: 11px;
  width: 177px;
  height: 46px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 25px;
}