.countersection-container{
  width: 1071px;
  height: 561px;
  left: 135px;
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  margin: 0 234px 0 136px;
}

.countersection-container .countersection-image {
  width: 50%;
  height: 561px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.countersection-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 495px;
  height: 561px;
}

.text-primary{
  width: 44px;
  height: 96px;
  font-family: 'Poppins', sans-serif;
  color: #98BF13;
  font-weight: 600;
  font-size: 64px;
  line-height: 96px;
}

.counter{
  font-family: 'Poppins', sans-serif;
  color: #004775;
  font-weight: 600;
  font-size: 64px;
  line-height: 96px;
}

.countersection-content-text {
  font-family: 'Poppins', sans-serif;
  color: #004775;
  display: flex;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
}

.countersection-content-swtich{
  border: 4px solid #004775;
  width: 433px;
  height: 51px;
  box-sizing: border-box;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content:right;
  margin: 36px 0 0 0; 
}

.countersection-content-switch-text {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  color: #004775;
  margin: 0 0 0 34px;
}

.text-switch-label{
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: #E3E5EF;
    border-radius: 30px;
    height: 28px;
    margin-bottom: 0;
    transition: 0.5s;
    position: relative;
}
.text-switch-label .text-swtch-data{
    display: flex;
    align-items: center;
    position: absolute;
    height: 100%;
    left: -1px;
    transition: 0.5s;
}
.text-switch-label .dot-circle{
    width: 24px;
    height: 24px;
    min-width: 24px;
    min-height: 24px;
    border-radius: 50%;
    background-color: #fff;
    margin: 0px 3px;
}